$white: #fff;
$blue: #1e549b;
$yellow: #ffd924;

$great-size: 0.8em;
$great-font: "Montserrat";

$golden-ratio: 1.618;
$gutter: 1em * $golden-ratio;

@keyframes fadeout {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.twitch-config {
    display: flex;

    section.options {
        .option {
            width: 240px;
            margin-bottom: $gutter;

            label {
                display: block;
                margin-bottom: 0.2em;

                .name {
                    font-weight: bold;
                    font-size: $great-size;
                    font-family: $great-font;
                    text-transform: uppercase;
                }
                .url {
                    float: right;
                    opacity: 0.75;
                    font-size: $great-size;
                }
            }

            input {
                width: 100%;
                display: block;
                padding: 0.33em;

                font: inherit;

                border: 2px solid $blue;

                &[type=submit] {
                    padding: 0.5em;

                    color: $white;
                    font-weight: bold;
                    font-size: $great-size;
                    font-family: $great-font;
                    text-transform: uppercase;

                    cursor: pointer;
                    background-color: $blue;
                }
            }

            .confirmation {
                opacity: 1;
                text-align: center;

                margin-top: 0.25em;

                animation-name: fadeout;
                animation-duration: 3s;
                animation-fill-mode: forwards;
            }
        }
    }

    section.instructions {
        flex: 1;
        margin-right: $gutter;

        .step {
            display: flex;
            margin-bottom: $gutter;

            .number {
                width: 2em;
                height: 2em;
                font-size: 2em;
                line-height: 2em;
                text-align: center;
                font-weight: bold;

                border-radius: 100%;
                background-color: $yellow;
            }
            .text {
                align-self: center;
                margin-left: $gutter / 2;
                b {
                    display: block;
                }
            }
        }
    }
}
